* {
	padding: 0;
	margin: 0;
}

nav {
	position: static;
	background-color: aqua;
	margin: 0;
	padding: 1rem;
}

ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

li:hover {
	background-color: cornflowerblue;
}

main {
	margin:auto;
	padding: 1rem;
}

form {
	display: flex;
	justify-content: center;
}

input, p, h2 {
	margin: 1rem;
	padding: 0.25rem;
}

p {
	text-align: center;
	font-size: 2rem;
}

h3 {
	text-align: center;
}

h2 {
	text-align: center;
}
